<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uuuuuuuuuuuuuuu.blog.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.uuuuuuuuuuuuuuu.model.entity.Blog">
        <id column="uid" property="uid" />
        <result column="title" property="title" />
        <result column="summary" property="summary" />
        <result column="content" property="content" />
        <result column="tag_uid" property="tagUid" />
        <result column="click_count" property="clickCount" />
        <result column="collect_count" property="collectCount" />
        <result column="file_uid" property="fileUid" />
        <result column="status" property="status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="admin_uid" property="adminUid" />
        <result column="is_original" property="isOriginal" />
        <result column="author" property="author" />
        <result column="articles_part" property="articlesPart" />
        <result column="blog_sort_uid" property="blogSortUid" />
        <result column="level" property="level" />
        <result column="is_publish" property="isPublish" />
        <result column="sort" property="sort" />
        <result column="open_comment" property="openComment" />
        <result column="type" property="type" />
        <result column="outside_link" property="outsideLink" />
        <result column="oid" property="oid" />
    </resultMap>
</mapper>
